require('./dims.js');
require('./colors.js');


.square {
  width: @middle;
  height: @middle;
}

.choose {
    font-family: monospace;
    font-size: small;
}

.fancy-orange {
  background-color: @fancy-orange;
}

